In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python_new\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\python_new\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python_new\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python_new\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python_new\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\python_new\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
pd

In [12]:
forum_users = {
    "User ID":[1,2,3,4,5,6],
    "UserName":["mops1","mops2","mops3","mops4","mops5","mops6"],
    "Age": [187,185,16,198,17,11,],
    "Joined Date": pd.to_datetime(["2032-01-01","2031-07-07", "2013-07-06", "2111-08-08", "2001-09-09", "2031-09-10"]),
    "Total Posts":[123, 476, 2345, 234, 653645, None],
    "Reputation": [500, 212, 234, 12, 21, 3412]
}

df = pd.DataFrame(forum_users)

In [5]:
df.describe().round(2)

       User ID     Age  Total Posts  Reputation
count     6.00    6.00         5.00        6.00
mean      3.50  102.33    131364.60      731.83
std       1.87   96.16    291965.02     1325.03
min       1.00   11.00       123.00       12.00
25%       2.25   16.25       234.00       68.75
50%       3.50  101.00       476.00      223.00
75%       4.75  186.50      2345.00      433.50
max       6.00  198.00    653645.00     3412.00

In [6]:
df.select_dtypes(include='object')

  UserName     Joined Date
0    mops1   1322031-01-01
1    mops2   2031121-01-01
2    mops3   20131-011-011
3    mops4  210311-01-0111
4    mops5    2031-101-013
5    mops6    2031-031-041

In [ ]:
df.dtypes()

In [8]:
df.isna()

   User ID  UserName    Age  Joined Date  Total Posts  Reputation
0    False     False  False        False        False       False
1    False     False  False        False        False       False
2    False     False  False        False        False       False
3    False     False  False        False        False       False
4    False     False  False        False        False       False
5    False     False  False        False         True       False