In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Using cached numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
Using cached pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
pd

In [4]:
forum_users = {
    "User ID":[1,2,3,4,5,6],
    "UserName":["mops1","mops2","mops3","mops4","mops5","mops6"],
    "Age": [187,185,16,198,17,11,],
    "Joined Date": pd.to_datetime(["2032-01-01","2031-07-07", "2013-07-06", "2111-08-08", "2001-09-09", "2031-09-10"]),
    "Total Posts":[123, 476, 2345, 234, 653645, None],
    "Reputation": [500, 212, 234, 12, 21, 3412]
}

df = pd.DataFrame(forum_users)

In [16]:
df.describe().round(2)

       User ID     Age          Joined Date  Total Posts  Reputation
count     6.00    6.00                    6         5.00        6.00
mean      3.50  102.33  2036-12-31 08:00:00    131364.60      731.83
min       1.00   11.00  2001-09-09 00:00:00       123.00       12.00
25%       2.25   16.25  2018-01-04 18:00:00       234.00       68.75
50%       3.50  101.00  2031-08-08 12:00:00       476.00      223.00
75%       4.75  186.50  2031-12-03 18:00:00      2345.00      433.50
max       6.00  198.00  2111-08-08 00:00:00    653645.00     3412.00
std       1.87   96.16                  NaN    291965.02     1325.03

In [5]:
df.select_dtypes(include='object')

  UserName
0    mops1
1    mops2
2    mops3
3    mops4
4    mops5
5    mops6

In [6]:
df.dtypes

User ID                 int64
UserName               object
Age                     int64
Joined Date    datetime64[ns]
Total Posts           float64
Reputation              int64
dtype: object

In [7]:
df.values

array([[1, 'mops1', 187, Timestamp('2032-01-01 00:00:00'), 123.0, 500],
       [2, 'mops2', 185, Timestamp('2031-07-07 00:00:00'), 476.0, 212],
       [3, 'mops3', 16, Timestamp('2013-07-06 00:00:00'), 2345.0, 234],
       [4, 'mops4', 198, Timestamp('2111-08-08 00:00:00'), 234.0, 12],
       [5, 'mops5', 17, Timestamp('2001-09-09 00:00:00'), 653645.0, 21],
       [6, 'mops6', 11, Timestamp('2031-09-10 00:00:00'), nan, 3412]],
      dtype=object)

In [8]:
df.isna()

   User ID  UserName    Age  Joined Date  Total Posts  Reputation
0    False     False  False        False        False       False
1    False     False  False        False        False       False
2    False     False  False        False        False       False
3    False     False  False        False        False       False
4    False     False  False        False        False       False
5    False     False  False        False         True       False