In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\progpc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\progpc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\progpc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\progpc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\progpc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\progpc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pd

In [5]:
forum_users = {
    "User ID":[1,2,3,4,5,6],
    "UserName":["mops1","mops2","mops3","mops4","mops5","mops6"],
    "Age": [187,185,16,198,17,11,],
    "Joined Date": pd.to_datetime(["2032-01-01","2031-07-07", "2013-07-06", "2111-08-08", "2001-09-09", "2031-09-10"]),
    "Total Posts":[123, 476, 2345, 234, 653645, None],
    "Reputation": [500, 212, 234, 12, 21, 3412]
}

df = pd.DataFrame(forum_users)

In [6]:
df.describe().round(2)

       User ID     Age          Joined Date  Total Posts  Reputation
count     6.00    6.00                    6         5.00        6.00
mean      3.50  102.33  2036-12-31 08:00:00    131364.60      731.83
min       1.00   11.00  2001-09-09 00:00:00       123.00       12.00
25%       2.25   16.25  2018-01-04 18:00:00       234.00       68.75
50%       3.50  101.00  2031-08-08 12:00:00       476.00      223.00
75%       4.75  186.50  2031-12-03 18:00:00      2345.00      433.50
max       6.00  198.00  2111-08-08 00:00:00    653645.00     3412.00
std       1.87   96.16                  NaN    291965.02     1325.03

In [7]:
df.select_dtypes(include='object')

  UserName
0    mops1
1    mops2
2    mops3
3    mops4
4    mops5
5    mops6

In [8]:
df.dtypes

User ID                 int64
UserName               object
Age                     int64
Joined Date    datetime64[ns]
Total Posts           float64
Reputation              int64
dtype: object

In [9]:
df.values

array([[1, 'mops1', 187, Timestamp('2032-01-01 00:00:00'), 123.0, 500],
       [2, 'mops2', 185, Timestamp('2031-07-07 00:00:00'), 476.0, 212],
       [3, 'mops3', 16, Timestamp('2013-07-06 00:00:00'), 2345.0, 234],
       [4, 'mops4', 198, Timestamp('2111-08-08 00:00:00'), 234.0, 12],
       [5, 'mops5', 17, Timestamp('2001-09-09 00:00:00'), 653645.0, 21],
       [6, 'mops6', 11, Timestamp('2031-09-10 00:00:00'), nan, 3412]],
      dtype=object)

In [10]:
df.isna()

   User ID  UserName    Age  Joined Date  Total Posts  Reputation
0    False     False  False        False        False       False
1    False     False  False        False        False       False
2    False     False  False        False        False       False
3    False     False  False        False        False       False
4    False     False  False        False        False       False
5    False     False  False        False         True       False

In [11]:
# df[df['Age'] >=25]

In [12]:
# df['Age'] >=25

In [13]:
# df[df['Total Posts'] >=305]

In [14]:
# df[df['Total Posts'] ==476]

In [15]:
# df[(df['Total Posts'] >=305) & (df['Age'] >=25)]

In [16]:
# df[(df['Total Posts'] >=305) | (df['Age'] <=35)]

In [17]:
df['Reputation'].isin([200, 500])

0     True
1    False
2    False
3    False
4    False
5    False
Name: Reputation, dtype: bool

In [18]:
# df[df['Reputation'].isin([200, 500])]

In [19]:
df[df['Reputation'].isin(range(200, 500))]

   User ID UserName  Age Joined Date  Total Posts  Reputation
1        2    mops2  185  2031-07-07        476.0         212
2        3    mops3   16  2013-07-06       2345.0         234

FileNotFoundError: [Errno 2] No such file or directory: 'Pandas Random CSV'