In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(1)
n = 100
dates = pd.date_range(start='2050-01-01', periods=n, freq='D')
products = np.random.choice(['Tablet','Camera',"Phone"], n)
prices = np.round(np.random.uniform(50.0, 200.0, n),2)
prices
quantities = np.random.randint(1,15, n)

data = {
    'Data': dates,
    'Products': products,
    'Prices': prices,
    'Quantities': quantities
}
df = pd.DataFrame(data)
df.dtypes
df.to_csv('Pandas Random CSV', index=False)

In [20]:
df = pd.read_csv('Pandas Random CSV', parse_dates=['Data'], date_format='%Y-%m-%d')
df.head()

        Data Products  Prices  Quantities
0 2050-01-01   Camera  191.69           2
1 2050-01-02   Tablet  137.98           8
2 2050-01-03   Tablet  185.51           1
3 2050-01-04   Camera   70.62          11
4 2050-01-05   Camera   70.89          11

In [21]:
df.dtypes

Data          datetime64[ns]
Products              object
Prices               float64
Quantities             int64
dtype: object

In [ ]:
df.to_excel('data.xlsx')